body {
	width: 100vw;
  	height: 100vh;
	margin: 0;
	display: flex;
	background-color:white;
 	justify-content: center;
  	align-items: center;
 	font-size: 30px;
 	line-height: 1.2;
 	transform: scale()
 	font-size: min(1vw, 1.778vh);
}
h1 {
	color: darkgreen;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Intro */
.intro {
	width: 100%;
	height: 100vh;
}

/* Header */
.header {
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 60px;
	font-weight: 700;
	color: darkgreen;
}

/* Navigation */
.nav {
	font-size: 14px;
}

.nav__link {
	font-size: 25px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: #333;
	text-decoration: none;
	position: relative;
	transition: color 0.2s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: darkgreen;
	position: absolute;
}

.nav__link:hover {
	color: darkgreen;
}

/* Block */

div.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 180px;
	top: 0px;
	height: 500px;
	width: 500px;
}

div#first {
	background-color: darkgreen;
}

div#second {
	background-color: darkblue;
}

/* Zaqolowok */

.zagolowok {
	position: relative;
	color: black;
	left: 300px;
	bottom: 300px;
}

.welcome {
	color: #fff;
	margin: 20px;
	position: relative;
	bottom: 200px;
}

/* Password link */

.pass__link {
	font-size: 15px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	color: #333;
	text-decoration: none;
	position: relative;
	top: 80px;
	right: 235px;
	transition: color 0.2s linear;
}

.pass__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
}

.pass__link:hover {
	color: #fff;
}


/* Button */

.signup {
	font-size: 40px;
	position: relative;
	color: #fff;
	right: 800px;
	top: 0px;
	margin: 20px;
}

.knopka {
	height: 40px;
	width: 225px;
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	background-color: #ffb95f;
	transition: color 0.2s linear;
}

.knopka:after {
	content: "";
	display: block;
	width: 100%;
	background-color: #fff;
	position: absolute;
}

.knopka:hover {
	color: #fff;
	background-color: #333;
}

.hz {
	width: 100vw;
  	height: 100vh;
	margin: 0;
	display: flex;
	background-color:white;
 	justify-content: center;
  	align-items: center;
 	font-size: 30px;
 	line-height: 1.2;
}