@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0 32px;
    background: #DAD7CD;
    font-family: "Ubuntu";
    animation: rotate 6s infinie alternate linear;
}

.circle {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #3a5a40;
}

.circle::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #344E41;
}

.circle {
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  0%   {background-color:#3a5a40; left:-100vmin; top:-100vmin;}
  50%  {background-color:#3a5a40; left:-45vmin; top:-45vmin;}
  100% {background-color:#3a5a40; left:-50vmin; top:-50vmin;}
}

.circle::after {
  animation-name: brightcircle;
  animation-duration: 6s;
}

@keyframes brightcircle {
  0%   {background-color:#344E41; right:-100vmin; bottom:-100vmin;}
  50%  {background-color:#344E41; right:-45vmin; bottom:-50vmin;}
  100% {background-color:#344E41; right:-50vmin; bottom:-55vmin;}
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: #588157;
    text-align: center;
    box-shadow: 0 100px 100px rgba(0  0  0 / 30%);
}

.card::before {
    content: "";
    position: absolute;
    background: #a3b18a;
    top: -880px;
    left: 50%;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #588157;
    height: 64px;
    width: 64px;
    top: 30px;
    left: 50%;
    translate: -50% 0;
}

.card .logo i {
    font-size: 50px;
    color: #a3b18a;
    font-weight: 500;
}

.card>h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 30px;
    color: #DAD7CD;
}

.form {
    margin: 0 0 30px;
    display: grid;
    gap: 12px;
}

.form>input, .form>button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
}

.form>input {
    border: 2px solid #DAD7CD;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #DAD7CD;
    translate: all 0.375s;
    background: #a3b18a;
}

.form>input:hover {
    border: 2px solid #DAD7CD;
}

.form>input::placeholder {
    color: #DAD7CD;
}

button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: #a3b18a;
    color: #DAD7CD;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

button:hover {
    color: #DAD7CD;
    background: #344E41;
}

.card>footer {
    color: #DAD7CD;
}

.card>footer>a {
    color: #DAD7CD;
    transition: all 0.375s;
}

.card>footer>a:hover {
    color: #344E41;
}

@media (width >=500px) {
    body {
        padding: 0;
    }
    
    .card {
        margin: 0;
        width: 360px;
    }

}